<div class="row">
  <div class ="col-md-5 offset-md-1">
      <h4><%= @user.nick_name %>さんのルーム</h4>
  </div>
</div>
  <div class="row">
    <div class ="col-md-3 offset-md-1">
       <%= image_tag @user.avatar.thumb.url.to_s, :size =>'150x150' %>
    </div>

    <div class="col-md-8">
      <table class="table">
          <tr>
          <th>自己紹介</th>
            <th><%= @user.introduction %></th>
          </tr>
      </table>
    </div>
  </div>

  <% if @user==current_user %>
    <div class="row">
      <div class ="col-md-2 offset-md-7 text-center">
        <%= link_to '編集する', edit_user_path(@user), class: "btn btn-primary btn-block edit_user_#{@user.id}" %>
      </div>
    </div>
  <% end %>
<row>
