<div class ="about-cover">
  <div class="container-fluid">

    <div class="about-main-title">
      <h1>E.G.C.とは？</h1>
    </div>
    <div class="about-title-body">
      <p>E.G.C. は、開発エンジニアの卵が「自他共に楽しみながら成長していくこと」を応援するサイトです。<br>
        ポートフォリオの紹介（画像、作品についての説明・アピール、GitHubのURL　等）<br>
        コメントで投稿者と閲覧者のやりとりができます。<br>
        モチベーションUPやインスピレーション、技術面 等、「成長のきっかけ」「作品の紹介」としてご利用ください。
      </p>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="about-subtitle">
          <h4>サイト名の由来[頭文字]</h4>
        </div>
        <div class="about-body">
          <div class="row">
            <div class ="col-md-4">
               <h4>enjoy</h4>
                <p>
                  <small>「眠ったままのポートフォリオ..誰かからの反応が欲しい...」<br>
                  「サービスとして公開できるようなレベルじゃないし...」</small>
                </p>
                <p>どんなレベルだっていいんです。<br>
                  あなたの努力(作品)を紹介してください！<br>
                  「いいね」や「コメント」の反応は <br>
                  自信やモチベーションに繋がるはず。
                </p>
                <p>成長を楽しみましょう！！</p>
            </div>
            <div class ="col-md-4">
              <h4>grow</h4>
                <p><small>「どんなデザイン/機能のポートフォリオを作ろうかな...」</small></p>
                <p>デザインや機能について 等、<br>
                  閲覧、コメントや質問はインスピレーションや技術向上に繋がるかも。
                </p>
                <p>E G.C.を通じて成長しましょう！！</p>
            </div>
            <div class ="col-md-4">
                <h4>communication</h4>
                  <p><small>「開発エンジニアを目指す仲間と話をしてみたいな...」</small></p>
                  <p>「いいね！」「コメント」「返信」で<br>
                    横の繋がりを作るきっかけになるかも！
                  </p>
                  <p>"気軽に"コミュニケーションをとりましょう！</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-title">
      <h2>E.G.C.の使い方</h2>
    </div>
      <div class="about-centence">
        <div class="about-subtitle">
          <h4>1. 作品を見てみよう</h4>
        </div>
        <div class="about-body">
          <p>みんながどのようなポートフォリオを作成しているか見てみましょう。<br>
            インスピレーションのきっかけになることも。
          </p>
          <p><small>＊ ログインしていない場合は、作品一覧の閲覧のみご利用が可能です
          </small></p>
        </div>
      </div>
      <div class="about-centence">
        <div class="about-subtitle">
          <h4>2. 作品を投稿する</h4>
          </div>
          <div class="about-body">
            <p>E.G.C.アカウントを作成し、作品について自由にアピール！<br>
              背景や思い、拘り等を投稿し、作品とあなたのことを知ってもらいましょう！！
            </p>
        </div>
      </div>
      <div class="about-centence">
        <div class="about-subtitle">
          <h4>3. 作品に反応する</h4>
        </div>
        <div class="about-body">
          <p>「いいね」をしましょう！<br>
            「いいね!」がモチベーションアップに繋がります。<br>
          </p>
        </div>
      </div>
      <div class="about-centence">
        <div class="about-subtitle">
          <h4>4. 作品を通して繋がろう</h4>
        </div>
        <div class="about-body">
          <p>気軽に質問・コメント・感想 等を送りましょう！<br>
            <small>
              ＊コメントや返信があった際は、「コメントは投稿者へ」「返信はコメントをした人へ」メールで通知されます。
            </small>
          </p>
        </div>
      </div>

    <div class="row">
      <div class="col-md text-center">
        <%= link_to '作品を見てみる！！', posts_path, class: "btn btn-info btn-lg" %>
      </div>
    </div>
   </div>
</div>
