<div class="container-fluid">
  <div class="row">
    <div class ="col-md text-center">
      <h2>編集フォーム</h2>
    </div>
  </div>
  <div class="row">
    <div class ="col-md-8 offset-md-2">
      <%= render "posts/form", post: @post %>
    </div>
  </div>
</div>