<div class="container-fluid">
  <div class="row">

    <div class ="col-md-2">
      <div class="row">
        <div class ="col-md">
          <%= form_with url: search_search_path, method: :get, local: true do |f| %>
            <div>
              <%= f.text_field :title, class: "form-control", placeholder: "タイトルの検索"%>
            </div>
            <div class="actions text-right">
              <%= f.submit :"検索", class: "btn btn-info btn-sm " %>
            </div>
          <% end %>
        </div>
       </div>
    </div>

    <div class ="col-md-10">
      <div class="row">
        <div class ="col-md-11 text-center">
          <h1 class="title"><strong>作品一覧</strong></h1>
        </div>
      </div>
      <div class="row">
        <div class ="col-md-11">
          <%= render "posts/form", posts: @posts %>
        </div>
      </div>
    </div>
  </div>
</div>