/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-custom {
  height: 65px;
  background: linear-gradient(45deg, #000000, #000031, #17a2b8, #ffd900);
}

.navbar-brand{
  font-size: 35px;
  font-family: 'Kalam', cursive;
  color: #fff;
}

.justify-content-center{
  text-align: center;
  background: linear-gradient(45deg, #000000, #000031, #17a2b8, #ffd900);
}

body {
  background-image: image-url('brandi-redd-aJTiW00qqtI-unsplash.jpg');
  background-size: cover;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;
  color: #FFFFFB;
  background-color:rgba(0,0,0,0.9);
}

.container-fluid {
  padding: 40px;
}

.heart-red {
  color: #e54747;
}

.heart-white {
  color: #e7e7e7;
}

.asterisk-red {
  color: #e54747;
}

.index-centense {
  margin-top: 15px;
  margin-bottom: 20px;
}

.card-deck-height {
  height: 580px;
}

.title {
  color: #fff;
  padding-top: 3%;
  padding-bottom: 3%;
}

.sub-title {
  color: #ffd900;
  padding-top: 2%;
  padding-bottom: 3%;
}

.cover {
  padding: 15px;
  margin: 0px 5px 5px 30px;
  background-color: rgba(0,0,0,0.3);
  border: 2px solid #e7e7e7;
  box-shadow: 0 0 5px #999;
}

.post-main {
  margin-bottom: 10px;
  padding: 30px;
  box-shadow: 0 0 5px #999;
}

.post-comment {
  padding: 15px;
  box-shadow: 0 0 5px #999;
  border: 1px solid #e7e7e7;
}

.post-body {
  margin: 10px 0px;
  padding: 8px 2px 2px 8px;
  border: 1px dashed #5f5f5f;
}

.error {
  color: red;
}

.pagination {
  justify-content: center;
}
.pagination>li>a {
  border: none;
  color: #696969 !important;
}

.pagination>.active>a {
  background-color: #81c8cc !important;
}

.pagination>li>a:hover {
background-color: #81c8cc !important;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #000000;
  color: #fff;
  position: absolute;
  bottom: 0px;
}

.footer-contence {
  font-size: 13px;
  text-align: left;
  padding: 10px 0 0 10px;
}
.copyright {
  text-align: center;
}

