/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: image-url('brandi-redd-aJTiW00qqtI-unsplash.jpg');
    background-size: cover;
}

.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
    box-sizing: border-box;
    color: #f5f5f5;
}

.main {

}

.container-fluid {
  padding: 40px;
}

.heart-red {
  color: #e54747;
}

.heart-white {color: #f5f5f5;
 }

.index-centense {
 margin-bottom: 60px;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 30px 0;

  position: absolute;
  bottom: 0px;
}

