// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
	width: 100%;
	height: 100%;
	background-image: image-url('manhattan-3866140_1920.jpg');
	background-size: cover;
}

.main-visual-text {
	height: 100%;
	width: 50%;
	background-color:rgba(0,0,0,0.8);
}

.main-visual-centence {
	color: white;
	padding: 17% ;
	text-align: center;
}

.main-visual-headline {
	padding-top: 5%;
}

.main-centense {
	padding: 20px;
}

.about-main-title {
	color: #57B8D9;
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: center;
}

.about-title {
	color: #57B8D9;
	margin-top: 15%;
	margin-bottom: 5%;
	text-align: center;
}

.about-title-body {
	padding-bottom: 5%;
	text-align: center;
}

.about-subtitle {
	color: #57B8D9;
	padding-bottom: 2%;
	text-align: center;
}

.about-centence {
	padding: 2%;
	margin: 3%;
	text-align: center;
}

.about-body {
	text-align: center;
}


