// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post_comments_area{
	margin-top: 30px;
	margin-bottom: 30px;
}

.reply_area {
	margin: 15px 0px 15px ;
}

.content {
	padding-top: 30px;
}