// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-card {
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 0 0 5px #999;
	text-color :white
}

.post {
	margin: 8%;
	border: 3px;
	border-color: #999;
}